<article class="row-container" title="A whole lot of blocks">
  <section title="Column 1" class="col-container">
    <section></section>
    <section></section>
    <section></section>
  </section>
  <section class="row-container" title="Column 2">
    <section class="col-container">
      <section></section>
      <section></section>
      <section></section>
    </section>
    <section class="col-container">
      <section></section>
      <section></section>
      <section></section>
      <section></section>
    </section>
  </section>
  <section title="Column 3" class="col-container">
    <section></section>
    <section></section>
    <section></section>
    <section></section>
    <section></section>
  </section>
</article>